:root {
  /* fonts */
  --main-font: "Roboto", nans-serif;

  /* background-colors */
  --white-color: #ffffff;
  --webkit-background-origin: #eeeeee;
  --green-color: #757575;
  --background-clip: #2f303a;
  --grayly: #afb1b8;

  /* text-colors */
  --text: #212121;
  --links: #2094f3;
  --active-color: #2196f3;
  --light-color: rgba(255, 255, 255, 0.6);

  /* card */
  --indent: 30px;
  --items: 3;

  /* other */
  --transition-delay: 250ms;
}